In [3]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [77]:
df = pd.read_csv('data.csv')
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09 00:00:00,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [18]:
df['price']

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [41]:
model=LinearRegression()
X=df.drop(columns=['price','date','waterfront','view','condition','street','city','country','statezip'])

X = X.values

y=df['price'] 

y = y.values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model.fit(X_train, y_train)

LinearRegression()

In [42]:
y_pred = model.predict(X_test)

266190.7162591642

In [44]:
import joblib

model_filename = 'house_predictor_model.pkl'
joblib.dump(model, model_filename)

['house_predictor_model.pkl']

In [45]:
loaded_model = joblib.load(model_filename)
loaded_model

LinearRegression()

In [72]:
s1=X_test[0].shape[0]

input=np.array([4.0,2,1350,7912,3,1340,90,2000,2001]).reshape(1,-1)
#reshape(1,-1) for single sample and (-1,1) for 1+ samples
input

array([[4.000e+00, 2.000e+00, 1.350e+03, 7.912e+03, 3.000e+00, 1.340e+03,
        9.000e+01, 2.000e+03, 2.001e+03]])

In [74]:

pred=loaded_model.predict(input)
pred[0]

268960.51565849036

In [75]:
formatted_number = f"${pred[0]:,.2f}"
print(formatted_number)

$268,960.52